@use "./nav.scss";
@use "./hero.scss";
@use "./contact.scss";
@use "./about.scss";
@use "./portfo.scss";
@use "./theme.scss" as *;
@use "./maintenance.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.contenair_app {
    min-height: 100vh;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    transition: background-color 0.3s ease, color 0.3s ease;

    .filtre_app {
        min-height: 100vh;
        width: 100%;
    }
}

// Classe pour le thème clair
.theme-light {
    --background: 210 40% 98%;
    --foreground: 222.2 84% 4.9%;

    background-color: hsl(var(--background));
    color: hsl(var(--foreground));

    li a {
        color: hsl(var(--foreground));
    }
}

// Classe pour le thème sombre
.theme-dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    background-color: hsl(var(--background));
    color: hsl(var(--foreground));

    li a {
        color: hsl(var(--foreground));
    }
}

.not-fund {
    display: flex;
    flex-direction: column;
    font-style: oblique;
    height: 100vh;
    width: 100%;
    text-align: center;
    align-items: center;
    color: orangered;
    justify-content: center;

    p {
        font-size: 5rem;
    }

    .iconsNotFund {
        font-size: 10rem;
    }
}