@use "./nav.scss";
@use "./hero.scss";
@use "./contact.scss";
@use "./about.scss";
@use "./portfo.scss";
@use "./theme.scss" as *;
@use "./maintenance.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.contenair_app{
    background-image: url("../../images/bg.webp");
    background-repeat: repeat;
    background-size: cover;
    backdrop-filter: blur(175px) !important;
    height: 100vh;
    .filtre_app{
        background-color: rgba(29, 23, 82, 0.357);
        backdrop-filter: blur(2px);
        height: 100vh;
    }
}

// Classe pour le thème clair
.theme-light {
    background-color: $light-background;
    color: $light-text-color;
    li a {
        color: $light-text-color;
    }
    .nav{
        background: #000;        
    }
    .hero{

    }
    .about{

    }
    .contact{

    }
    .project{

    }
  }
  
  // Classe pour le thème sombre
  .theme-dark {
    background-color: $dark-background;
    color: $dark-text-color;
    li a {
        color: $dark-text-color;
    }
  }

  .not-fund{
    display: flex;
    flex-direction: column;
    font-style: oblique;
    height: 100vh;
    width: 100wh;
    text-align: center;
    align-items: center;
    color: orangered;
    justify-content: center;
    p{
        font-size: 5rem;
    }
    .iconsNotFund{
        font-size: 10rem;
    }
  }