// .home-container{
//   padding: 0 10%;
//   background: ;
// }


.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000;
    color: #fff;
    padding: 10%;
    gap: 2rem;
  
    .hero-content {
      text-align: center;
  
      h1 {
        font-size: 3rem;
        span {
          color: #0f0;
        }
      }
  
      p {
        font-size: 1.5rem;
        margin-top: 1rem;
      }
    }
    .hero-image-container{
      width: 500px;
      .hero-image{
        width: 100%;
      }
    }
  }
  
  // .hero {
  //   position: relative;
  //   height: 100vh;
  //   background: url("../assets/modele/1.jpg") no-repeat center center/cover;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   color: white;
  //   text-align: center;
  
  //   .hero-content {
  //     position: relative;
  //     z-index: 2;
  //   }
  // }
  
  // .hero .hero-image {
  //   display: none; // L'image dans <img> ne sera plus nécessaire
  // }
  